html,
#root,
body {
  background-color: #f1f4fd;
  width: 100%;
  height: 100%;
}
@font-face {
  src: url(./assets/fonts/dana-medium.woff2);
  font-family: dana;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.color{
  background-color: #8a2be2;
}